$transition-easing: cubic-bezier(0.125, 0.25, 0.1, 1.035);

@mixin gray-overlay($offset, $width, $height) {
  &::after {
    content: "";
    top: 0;
    left: 50%;
    width: $width;
    height: $height;
    position: absolute;
    transform: translate(-50%);
    transition: 0.3s $transition-easing;
    box-shadow: inset $offset 0 48px #00000085, inset (-$offset) 0 48px #00000085;
  }
}

@mixin no-overlay {
  opacity: 1;
  &::after {
    box-shadow: none;
  }
}

a, div {
  z-index: 1;
  text-decoration: none;

  label.slot {
    height: 100%;
    display: flex;
    cursor: pointer;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;

    figure.slot-background {
      width: 100%;
      height: 480px;
      cursor: pointer;
      overflow: hidden;
      user-select: none;
      position: relative;
      margin-bottom: 72px;
      background: #000000;
      border: 3.5px solid #3f253f;
      box-shadow: 0 0 12px 8px #00000050;
      transition: 0.3s $transition-easing;
      @include gray-overlay(120px, 100%, 100%);

      div.slot-content {
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        transition: 0.3s $transition-easing;

        h1.progress-percentage {
          opacity: 0.5;
          font-size: 48px;
        }

        h2.timer {
          opacity: 0.5;
          margin: 32px 0;
          font-size: 24px;
        }

        div.progress-shelly {
          height: 188px;
          position: relative;
          transition: 0.1s $transition-easing;
          @include gray-overlay(48px, 75%, 100%);

          img {
            left: 50%;
            bottom: 0;
            width: 230px;
            opacity: 0.5;
            object-fit: cover;
            position: absolute;
            filter: grayscale(0.9);
            object-position: bottom;
            transform: translateX(-50%);
            transition: 0.3s $transition-easing;
          }
        }

        footer.points {
          display: grid;
          opacity: 0.5;
          grid-template-columns: repeat(2, minmax(0, 1fr));
          @include gray-overlay(36px, 100%, 100%);
        }

        &.upload-content {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          img.new-game {
            opacity: 0.5;
            transition: 0.4s cubic-bezier(0.125, 0.25, 0.1, 1.035);
            animation: growShrink 3s ease-out infinite;
          }
        }
      }

      footer.actions {
        opacity: 0;
        width: 100%;
        height: 100%;
        display: flex;
        bottom: -180px;
        position: absolute;
        align-items: flex-end;
        justify-content: center;
        transition: 0.2s cubic-bezier(0.125, 0.25, 0.1, 1.035);

        img.delete-save {
          height: 90px;
          margin-bottom: 4.5rem;
          filter: drop-shadow(0 0 8px #4a0026);
        }

        h3.upload-save {
          width: 100%;
          text-align: center;
          font-size: 1.25rem;
          margin-bottom: 7.5rem;
          filter: drop-shadow(0 0 8px #c910b9);
        }
      }
    }

    &:hover {
      figure.slot-background {
        overflow: unset;
        border-color: #ffffff;
        transform: translateY(-7rem);
        box-shadow: 0 0 12px 8px #4a0026;
        @include no-overlay();

        div.slot-content {
          h1.progress-percentage, h2.timer, h3, img {
            @include no-overlay();
            filter: grayscale(0) drop-shadow(0 0 6px #e2a6cf70);
          }
          div.progress-shelly {
            filter: drop-shadow(0 0 8px #2a4dc9);
            @include no-overlay();
            img {
              filter: grayscale(0);
              opacity: 1;
            }
          }

          footer.points { @include no-overlay(); }
          &.upload-content img.new-game { @include no-overlay(); }
        }

        footer.actions { @include no-overlay(); }
      }
    }
  }
}

@keyframes growShrink {
  0% { width: 120px; }
  50% { width: 180px; }
  100% { width: 120px; }
}
