@import "https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap";
@import "mixins.scss";

* {
  color: white;
  text-decoration: none;
  padding: 0; margin: 0; border: 0;
  font: 20px "Press Start 2P", sans-serif;

  &::-webkit-scrollbar {
    width: 4px;
    &-track { background: black }
    &-thumb { background: white }
  }
}

body {
  height: 100vh;
  overflow: hidden;
  background: black;
}