@mixin flex($align: unset, $justify: unset, $dir: row, $gap: 0) {
  gap: $gap;
  display: flex;
  align-items: $align;
  flex-direction: $dir;
  justify-content: $justify;
}

@mixin grid($cols: 2, $gap: 16px) {
  gap: $gap;
  display: grid;
  grid-template-columns: repeat($cols, minmax(0, 1fr));
}

@mixin overlay($offset, $width, $height) {
  * { color: #705c66; filter: none }
  &::after {
    content: "";
    width: $width;
    height: $height;
    transition: 250ms;
    transform: translate(-50%);
    position: absolute; top: 0; left: 50%;
    box-shadow: inset $offset 0 48px #00000085, inset (-$offset) 0 48px #00000085;
  }
}

@mixin no-overlay {
  &, * {
    filter: none;
    color: white;

    &::after { box-shadow: none }
  }
}

@mixin mobile { @media (max-width: 700px) { @content }}