.chapter {
  --blue: #049aff;
  --blue-darker: #0a3bff;
  --pink: #ff52ff;
  --pink-darker: #b20fff;
  --orange: #ffd82f;
  --orange-darker: #ff3718;

  --blue-filter: invert(1) invert(65%) sepia(40%) saturate(5396%)
    hue-rotate(159deg) brightness(101%) contrast(102%)
    drop-shadow(0 0 8px var(--blue-darker));

  --pink-filter: invert(1) invert(61%) sepia(59%) saturate(4618%)
    hue-rotate(260deg) brightness(106%) contrast(103%)
    drop-shadow(0 0 8px var(--pink-darker));

  --orange-filter: invert(1) invert(90%) sepia(14%) saturate(6503%)
    hue-rotate(332deg) brightness(101%) contrast(103%)
    drop-shadow(0 0 8px var(--orange-darker));

  --blue-ghost-filter: invert(1) invert(13%) sepia(95%) saturate(7036%)
    hue-rotate(237deg) brightness(103%) contrast(108%)
    drop-shadow(0 0 32px var(--blue-darker));

  --pink-ghost-filter: invert(1) invert(22%) sepia(78%) saturate(7153%)
    hue-rotate(277deg) brightness(102%) contrast(113%)
    drop-shadow(0 0 32px var(--pink-darker));

  --orange-ghost-filter: invert(1) invert(40%) sepia(67%) saturate(6652%)
    hue-rotate(352deg) brightness(102%) contrast(101%)
    drop-shadow(0 0 32px var(--orange-darker));

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  scroll-snap-align: start;
  &::before {
    content: "";
    position: absolute;
    bottom: 40px;
    left: 0;
    height: 14rem;
    background: #372d46;
    width: 4px;
    margin: 0 -0.5rem;
  }
  &::after {
    content: attr(id);
    color: #372d46;
    font-size: 1.5rem;
    position: absolute;
    left: 6px;
    bottom: calc(14rem + 16px);
  }
  figure {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.25s;
    width: 4rem;
    animation: upDown 6s infinite;
    .selected_room {
      z-index: 10;
      position: absolute;
      top: 0;
      width: 48px;
      transition: 0.25s;
    }
    .exp_point_icon {
      position: absolute;
      top: -3.5rem;
      width: 36px;
      transition: 0.25s;
    }
    .level_icon {
      width: 48px;
      transform: rotate(90deg);
      transition: 0.25s cubic-bezier(0.125, 0.25, 0.1, 1.035);
      &_ghost {
        position: absolute;
        margin-top: -48px;
        width: 56px;
        z-index: -1;
      }
    }
    h1 {
      font-size: 1.5rem;
      letter-spacing: 0.5px;
      margin-bottom: 0.5rem;
      opacity: 0;
      transition: 0.2s;
    }
    &:hover {
      padding: 0 2.5rem;
      .exp_point_icon {
        width: 54px;
      }
      .level_icon,
      .selected_room {
        width: 96px;
        transform: rotate(0);
        &_ghost {
          width: 112px;
        }
      }
      h1 {
        opacity: 100;
      }
    }
  }
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15%);
  }
  100% {
    transform: translateY(0);
  }
}
