div.dialog-overlay {
  z-index: 20;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00003590;

  figure.dialog {
    z-index: 25;
    background: #000;
    border: 3px solid #fff;
    box-shadow: 0 0 0 4px #000;
    width: 950px;
    height: 225px;
    display: flex;

    img.dialog-image {
      margin: 15px;
      width: 190px;
      height: 190px;
      border: 3px solid #fff;
      filter: drop-shadow(0 0 8px #cb0075);
    }
    div.introduction {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
      justify-content: center;
      align-items: center;

      h1,
      p {
        color: #fff;
        font-size: 1.75rem;
        filter: drop-shadow(0 0 8px #f8cfe290);
      }
    }
    div.container {
      margin: 24px 30px 0 4px;

      h1 {
        color: #ff20ff;
        filter: drop-shadow(0 0 8px #cb0075);
      }
      p {
        margin-top: 1rem;
        font-size: 1.45rem;
        filter: drop-shadow(0 0 8px #f8cfe290);
        line-height: 1.75rem;
      }
    }
  }
  div.controls {
    position: absolute;
    height: 350px;

    img {
      cursor: pointer;
      position: absolute;
      left: 50%;
      width: 42px;
      filter: drop-shadow(0 0 8px #f8cfe290);
      animation: upDown 2s infinite linear;

      &:nth-child(2) {
        bottom: 0;
        animation: downUp 2s infinite linear;
      }
      &:nth-child(3) {
        bottom: 0;
        width: 36px;
        animation: downUp 2s infinite linear;
      }
    }
  }
}

@keyframes upDown {
  0% {
    transform: translateY(-50%) translateX(-50%);
  }
  50% {
    transform: translateY(0) translateX(-50%);
  }
  100% {
    transform: translateY(-50%) translateX(-50%);
  }
}

@keyframes downUp {
  0% {
    transform: translateY(50%) translateX(-50%) rotate(180deg);
  }
  50% {
    transform: translateY(0) translateX(-50%) rotate(180deg);
  }
  100% {
    transform: translateY(50%) translateX(-50%) rotate(180deg);
  }
}
