.switch_slot {
  color: #fff;
  line-height: 1.75rem;
  cursor: pointer;
  position: fixed;
  top: 1rem;
  left: 1rem;
  text-decoration: none;
  font-size: 1.125rem;
  margin-top: 0.325rem;
  border-bottom: 3px solid transparent;
  filter: drop-shadow(0 0 8px #8c82d8);
  &:hover {
    border-color: #fff;
  }
}

.points {
  position: fixed;
  left: 50%;
  top: 1rem;
  transform: translateX(-50%);
  display: flex;
  gap: 5rem;
  align-items: center;
  div {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    justify-content: center;
    h1 {
      font-size: 1.25rem;
      margin-top: 0.25rem;
      filter: drop-shadow(0 0 8px #8c82d8);
    }
    img {
      filter: drop-shadow(0 0 8px #8c82d8);
    }
  }
}

.levels {
  height: 100%;
  width: 100%;
  margin-top: 4rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  max-width: 100%;
  margin-left: auto;
  padding: 0 10rem;
}
