header#points {
  position: fixed;
  left: 50%;
  top: 1rem;
  transform: translateX(-50%);
  display: flex;
  gap: 5rem;
  align-items: center;

  div.point-container {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    justify-content: center;

    h1 {
      display: flex;
      gap: 0.25rem;
      align-items: center;
      font-size: 1.25rem;
      margin-top: 0.25rem;

      input {
        -moz-appearance: textfield;
        color: #ff72ff;
        text-align: right;
        width: 4rem;
        padding: 0.125rem 0.25rem;
        box-sizing: content-box;
        background: none;
        border: 2px solid #c737ff;
        border-radius: 0;
        font-size: 1.25rem;
        filter: drop-shadow(0 0 8px #ff72ff90);
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        &:focus {
          outline: none;
        }
      }
      label {
        filter: drop-shadow(0 0 8px #8c82d8);
      }
    }
    img {
      filter: drop-shadow(0 0 8px #8c82d8);
    }
  }
}

main#levels {
  height: 100%;
  width: 100%;
  margin-top: 4rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-left: auto;
  padding: 0 10rem;
}
