@import "https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap";
@import "chapter.scss";
@import "dialog.scss";
@import "levels.scss";
@import "slots.scss";
@import "save.scss";
@import "home.scss";

html {
  --blue: #049aff;
  --blue-darker: #0a3bff;
  --pink: #ff52ff;
  --pink-darker: #b20fff;
  --orange: #ffd82f;
  --orange-darker: #ff3718;

  --blue-filter: invert(1) invert(65%) sepia(40%) saturate(5396%)
    hue-rotate(159deg) brightness(101%) contrast(102%)
    drop-shadow(0 0 8px var(--blue-darker));

  --pink-filter: invert(1) invert(61%) sepia(59%) saturate(4618%)
    hue-rotate(260deg) brightness(106%) contrast(103%)
    drop-shadow(0 0 8px var(--pink-darker));

  --orange-filter: invert(1) invert(90%) sepia(14%) saturate(6503%)
    hue-rotate(332deg) brightness(101%) contrast(103%)
    drop-shadow(0 0 8px var(--orange-darker));

  --blue-ghost-filter: invert(1) invert(13%) sepia(95%) saturate(7036%)
    hue-rotate(237deg) brightness(103%) contrast(108%)
    drop-shadow(0 0 16px var(--blue-darker));

  --pink-ghost-filter: invert(1) invert(22%) sepia(78%) saturate(7153%)
    hue-rotate(277deg) brightness(102%) contrast(113%)
    drop-shadow(0 0 16px var(--pink-darker));

  --orange-ghost-filter: invert(1) invert(40%) sepia(67%) saturate(6652%)
    hue-rotate(352deg) brightness(102%) contrast(101%)
    drop-shadow(0 0 16px var(--orange-darker));

  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

* {
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  color: #fff;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  background: #000;
  height: 100vh;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

#__next {
  height: 100vh;
}

@media only screen and (min-width: 90rem) {
  #__next {
    zoom: 1.111;
  }
}
@media only screen and (min-width: 100rem) {
  #__next {
    zoom: 1.25;
  }
}
@media only screen and (min-width: 112rem) {
  #__next {
    zoom: 1.335;
  }
}
@media only screen and (min-width: 125rem) {
  #__next {
    zoom: 1.5;
  }
}
@media only screen and (min-width: 135rem) {
  #__next {
    zoom: 2;
  }
}
@media only screen and (min-width: 185rem) {
  #__next {
    zoom: 3;
  }
}
@media only screen and (min-width: 260rem) {
  #__next {
    zoom: 4;
  }
}
